.table {
  border-radius: 3%;
  width: 600px;
  height: 900px;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 5px solid #FFFFFF;
  background-color: #F0F0F0;
}

body {
  background-color: #1f1f23;
}

.list {
  border-radius: 5px;
  border: 1px solid #000000;
  width: 40%;
  height: 400px;
  background-color: #FFFFFF;
  margin: 5%;
  overflow: auto;
}

.top {
  background-color: #B8C1C8;
  border-bottom: 1px solid #000000;
  position: sticky;
}

.box {
  border-right: 1px solid #000000;
  width: 60px;
  text-align: center;
}

.box_name {
  border-right: 1px solid #000000;
  width: 120px;
  text-align: center;
}

.box:last-child {
  border: none
}

.file {
  position: relative;
  top: 10px;
  left: 30px
}

input[type="file"] {
  color: transparent;
}

td {
  text-align: center;
}

tbody {
  background-color: white;
}

tbody:first-child {
  border-top: none
}
@media (max-width:1200px){
  main>.item{
    width: 45%;
  }
}
@media (max-width:500px){
  main>.item{
    width: 90%;
  }
}